#alert {
  padding: 5px;

  &.success {
    color: rgb(60, 118, 61);
    background-color: rgb(223, 240, 216);
  }

  &.info {
    color: rgb(49, 112, 143);
    background-color: rgb(217, 237, 247);
  }

  &.warning {
    color: rgb(148, 109, 59);
    background-color: rgb(252, 248, 227);
  }

  &.danger {
    color: rgb(173, 68, 66);
    background-color: rgb(242, 222, 222);
  }

  &.hide { display: none; }

  a.close {
    color: black;
    text-decoration: none;
  }
}
