.episode {
  &:not(:last-child) {
    padding: 10px 0;
    border-bottom: 2px rgb(226, 226, 226) solid;
  }

  &:last-child { padding: 10px 0 0 0; }

  .header {
    .title {
      font-weight: bold;
      float: left;
      width: 80%;
    }

    .date {
      font-size: .8em;
      color: gray;
      float: right;
      text-align: right;
      width: 20%;
    }
  }

  .summary {
    font-size: .85em;
    padding: 3px 0;
    clear: both;
  }

  .footer a {
    margin-right: 10px;
  }
}
