.episode {
  &.drag {
    opacity: .3;
    background-color: rgb(226, 226, 226);
  }

  &.over { border-bottom: 2px #2A712A dashed !important; }

  &:not(:last-child) {
    padding: 10px 0;
    border-bottom: 2px rgb(226, 226, 226) solid;
  }

  &:last-child { padding: 10px 0; }

  .header {
    .title {
      font-weight: bold;
      float: left;
      width: 80%;
    }

    .date {
      font-size: .8em;
      color: gray;
      float: right;
      text-align: right;
      width: 20%;
    }
  }

  .summary {
    font-size: .85em;
    padding: 3px 0;
    clear: both;
  }

  .footer a {
    margin-right: 10px;
  }

  a.remove {
    color: rgb(200, 0, 0) !important;
    &:hover { color: rgb(155, 0, 0) !important; }
  }

  &.compact {
    .image {
      background-color: rgb(179, 88, 88);
      float: left;
      margin-right: 5px;
      font-size: 25px;
      padding: 9px 9px 6px 11px;

      color: rgba(255, 255, 255, .8) !important;
    }

    a.image:hover { color: rgba(65, 65, 65, .8) !important; }

    .header {
      .title {
        width: initial;
        float: initial;
      }

      .date { display: none; }

      .title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .summary { display: none; }
    .footer { font-size: .8em; }
  }
}
