#explore {
  .search {
    position: relative;
    width: 100%;

    .field {
      width: 100%;

      input[type="text"] {
        font-size: 1em;
        padding: 10px;
        padding-left: 32px;
        width: 90%;
      }
    }

    .icon {
      position: absolute;
      top: 0;

      color: rgb(202, 202, 202);
      padding: 10px;

      .fa-plus { padding: 2px; }
    }

    small {
      background-color: rgb(230, 230, 230);
      padding: 1px 5px;
    }

    code { padding: 1px 5px; }
  }
}
