#main > div {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;

  #navigation {
    width: 100%;
  }

  .float-right {
    width: 40%;
    float: right;
  }

  #playlist, #feed {
    width: 60%;
    float: left;
  }

  #footer {
    clear: both;
  }
}
