@import "background-noise";

#player {
  display: flex;
  flex-direction: column;

  padding: 10px;

  @include background-noise(rgb(34, 34, 34));

  color: white;

  .title {
    order: 1;
    text-align: center;
    font-size: .85em;
  }

  .image {
    order: 2;
    margin: 10px 0 0 0;

    img {
      width: 100%;
      box-shadow: 0px 0px 5px 0px black;
    }
  }

  .controls {
    order: 4;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
      color: white;
      text-decoration: none;
      font-size: 1.2em;
      text-shadow: black 0px 0px 20px;

      &.disabled {
        color: rgba(255, 255, 255, .25);
        cursor: default;
      }
    }
  }

  &.hide { display: none; }


  .progress-bar {
    order: 3;
    margin-bottom: 15px;

    width: 100%;
    height: 7px;
    background-color: rgb(189, 189, 189);
    position: relative;
    box-shadow: black 0px 0px 10px 0px;
    cursor: pointer;

    .buffered, .time, .loading {
      position: absolute;
      height: 7px;
    }

    .buffered {
      background-color: white;
    }

    .time {
      min-width: .5%;
      background-color: $link-color;
    }

    .loading {
      animation: loading-progress-bar .5s infinite;
      width: 100%;
    }

    .start-time, .end-time {
      position: absolute;
      top: -15px;

      background-color: rgb(0, 0, 0);
      font-size: .7em;
      padding: 0px 3px;
      cursor: default;

      transition: all .5s;
      opacity: 0;
    }

    .end-time { right: 0px; }

    &:hover span {
      opacity: 1;
      top: -20px;
    }
  }
}

@keyframes loading-progress-bar {
  0%   { background-color: $link-hover-color; }
  20%  { background-color: $link-color; }
  40%  { background-color: $link-hover-color; }
  60%  { background-color: $link-color; }
  80%  { background-color: $link-hover-color; }
  100% { background-color: $link-color; }
}

.next-episode {
  background-color: rgb(215, 215, 215);
  padding: 5px;
  font-size: .9em;

  .title {
    font-weight: bold;
    font-family: sans-serif;
  }

  &.hide { display: none; }
}
