#podcast {
  .clear {
    clear: both;
  }

  .info {
    text-align: center;
    background-image: url(/assets/gradient.png);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    & > img {
      width: 100px;
      margin-top: 10px;
    }

    h1 {
    font-size: 1.2em;
    margin: 0 10px;
    }

    p {
      font-size: .8em;
      margin: 5px 10px;
    }

    small {
      color: gray;
      font-size: .65em;
      margin: 0 10px;
    }

    .links {
      background-color: rgb(226, 226, 226);
      margin-top: 10px;
      padding: 5px;
    }
  }

  //.header {
  //  display: flex;
  //  justify-content: space-between;

  //  .subscribe, .unsubscribe {
  //    padding: 10px 25px;
  //    height: 16px;
  //    margin-top: 25px;
  //    font-size: .8em;
  //    color: white;
  //  }

  //  .subscribe {
  //    background-color: $button-color;
  //    &:hover { background-color: $button-hover-color; }
  //  }

  //  .unsubscribe {
  //    background-color: #A64B43;
  //    &:hover { background-color: #BB625A; }
  //  }
  //}

  //img {
  //  width: 250px;
  //  float: left;
  //  margin-right: 10px;
  //}
}
