#sidebar {
  margin: 10px;

  .add-podcast {
    background-color: $button-color;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    min-width: 100px;
    text-align: center;

    &:hover {
      background-color: $button-hover-color;
    }
  }

  .subscriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item img {
      width: 100px;
    }

    .active img {
      box-sizing: border-box;
      border: 2px solid $link-color;
    }
  }
}
