#sidebar {
  margin: 10px;

  a {
    background-color: rgb(42, 113, 42);
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    min-width: 100px;
    text-align: center;

    &:hover {
      background-color: #318131;
    }
  }
}
