.layout {
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	padding-top: 80px;

	&__page {
		width: 70%;
	}

	&__sidebar {
		width: 29%;

		&__content {
			position: fixed;
		}
	}
}
