$header-background-color: rgb(34, 34, 34);
$header-active-link: black;

$button-color: rgb(42, 113, 42);
$button-hover-color: #318131;

$link-color: #4D80AB;
$link-hover-color: #38658B;

@import "includes/main";
//@import "includes/settings";
//@import "includes/animation";
@import "includes/player";
@import "includes/navigation";
@import "includes/content";
@import "includes/sidebar";
@import "includes/explore";
@import "includes/podcast";
@import "includes/alert";

@import "includes/background-noise";

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;

  @include background-noise(white);
}
